<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Интерактивная сказка</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <link href="../static/css/createStudent.css" rel="stylesheet">
    <link href="../static/css/default.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap"
          rel="stylesheet">
    <style>
        body {
            background-color: #6A5ACD;
        }
        #buttons{
            height: 10vh;

        }

    </style>
</head>
<body>
<div class="row col-12 page-title">
    <div class="col-12">
        <h1 class="text-center default-text text-white">Загрузить файл</h1>
    </div>
</div>
<br>
<br>
<br>
<div class="container dummy">
    <div class="d-flex justify-content-center row h-75">
        <div class="container col-6 row">
            <form class="container"
                  method="post">
                <br>
                <div class="row">
                    <div class="col-12"><h4 class="default-text text-white">Выберите ученика:</h4></div>
                    <div class="col-12"><input type="text" class="w-100"></div>
                </div>
                <br>
                <div class="row">
                    <div class="col-2"><h4 class="default-text text-white">Тема сказки:</h4></div>
                    <div class="col-10"><input type="number" min="0" class="w-100"></div>
                </div>
                <br>
                <div class="row">
                    <div class="col-12"><h4 class="default-text text-white">Заметки по занятию:</h4></div>
                    <div class="col-12"><textarea class="w-100"></textarea></div>
                </div>
                <div class="row">
                    <div class="col-2"><h4 class="default-text text-white">Количество ошибок:</h4></div>
                    <div class="col-12"><input min="0" class="w-10"></input></div>
                </div>
                <br>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-secondary"> < </button>
                    <button type="button" class="btn btn-secondary"> > </button>
                </div>
                <div class="row">
                    <div class="col-12 d-flex justify-content-center">
                        <input type="submit" class="w-50" value="Сохранить данные о занятии">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>